:root {
  --white:            #FFFFFF;
}

.hero.hero-text-image-module{
  background: var(--gradient-135);
}
.hero.hero-text-image-module h1,.hero.hero-text-image-module p{
  color: var(--white);
}
.hero.hero-text-image-module h1{
  max-width: 900px;
}
.hero.hero-text-image-module p{
  max-width: 800px;
}
.hero-text-image-module .hero-text-image-module__bars {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: clamp(84px, 10vw, 132px);
  object-fit: cover;
  pointer-events: none;
  z-index: 0;
}
.hero-text-image-module .hero__inner{
  padding-bottom: 0;
}
.hero .hero-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}